@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oswald:wght@200&family=Raleway:wght@300&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2B4252;
    --secondary-color: #E24300;
    --accent1-color: #BDAC9C;
    --accent2-color: #D8DBE2;

    --heading-font: 'Teko', san-serif;
    --paragraph-font: 'Raleway', san-serif;

    --nav-background-color: #233643; 
    --nav-link-color: #FF9F75;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #625141;
}

/* BODY */

body {
    font-family: var(--paragraph-font);
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

/* HEADER - LOGO & NAV */

header {
    padding: 20px;
    background-color: var(--accent2-color);
    max-width: 960px;
    margin: 0 auto;
}

header img {
    width: 60px;
}

nav {
    display: flex;
    font-family: var(--heading-font);
    padding: 13px;
    font-size: 22pt;
    justify-content: space-evenly;
    align-content: center; 
}

            /* MAIN */
/* DIV - VECTOR EMBLEM RAFTING  */
        /* CLASS - HERO, CENTER, BOX */

div {
    display: grid;
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 48pt;
    text-align: center; 
} 

article {
    position: relative;
}

article img {
    position: absolute;
    width: 222px;
    float: right;
}


/* SECTION - ADVENTURE AWAITS */

section {
    display: grid;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 36pt;
    align-content: center;
    padding-top: 30px;
}

p {
    font-family: var(--paragraph-font);
    color: black;
    font-weight: bold;
    /* adjust font spacing between letters  */
}

/* figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

figure img {
    max-width: 175px;
}

figcaption {
    font-size: 8pt;
    padding-bottom: 5px;
}

section img {
    padding-top: 20px;
    width: 120px;
    margin: 0 auto;
    border-color: black;
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
    /* align-content: center; */
    background-color: var(--accent2-color);
    
}

footer img {
    width: 50px;
    padding: 5px;
}


/* CLASS SELECTORS */
.hero {
    display: grid;
    position: relative;
    /* max-width: 960px; */
    align-content: center;
}

.box {
    margin: 1rem;
    border: 5px solid rgba(3, 2, 4, 0.6);;
    padding: 1rem;
    background-color: rgba(240,211,211,0.7);
    color: darkblue;
    position: absolute;
  }

.grid {
    display: grid;
    grid-template-columns: 90px 1fr;
    column-gap: 15px;
}

.hero img {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}